dlib==19.19.0
ffmpeg==1.4
funcsigs==1.0.2
future==0.18.2
h5py==2.10.0
image-classifiers==1.0.0
imageio==2.6.1
imageio-ffmpeg==0.3.0
imgaug==0.3.0
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
librosa==0.7.2
matplotlib==3.1.2
mir-eval==0.5
moviepy==1.0.1
mtcnn==0.1.0
numpy==1.17.2
nvidia-ml-py3==7.352.0
opencv-python==4.1.2.30
opencv-python-headless==4.1.2.30
pandas==0.25.3
pesq==0.0.1
Pillow==7.0.0
pydub==0.23.1
pyemd==0.5.1
pystoi==0.2.2
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-video==1.1.11
scipy==1.4.1
seaborn==0.9.0
six==1.11.0
sk-video==1.1.10
tensorboard==2.0.0
tensorflow-estimator==2.0.0
tensorflow-gpu==2.5.3
tqdm==4.41.1
wandb==0.8.21
watchdog==0.9.0
